{% extends "base.html" %}
{% block title %} Crawling List {% endblock %}
{% block content %}
<head>
	<link rel="shortcut icon" href="">
</head>
<div id="content">
	<h1>스포츠 뉴스</h1>
	<form action="" method="POST">
		{% csrf_token %}
		{{ form.as_table }}
		<input type="submit" value="최신데이터가져오기">
		<!-- <button onClick="window.location.reload()">업데이트</button> -->
	</form>
	<ul>
	{% for data in object_list %}
		<li><a href="{% url 'data:sports_detail' data.id %}">{{ data }}</a></li>
	{% endfor %}
	</ul>
</div> 
{% endblock %}